{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <div id="bio-text-container" style="transform: translateY(100%); transition: transform ease-in-out 0.8s;">
            <p>{{ user.bio }}</p>
        </div>
<div id="bio-container" style="transform: translateX(-100%); transition: transform ease-in-out 0.8s;">
      {% if user.avatar %}
      <img class="avatar" src="{{ user.avatar.url }}" alt="User Avatar">
      {% else %}
      <img class="static-avatar" src="{% static 'images/standart_img.png' %}" alt="Default Avatar">
      {% endif %}
        <p>Gender: {{ user.get_gender_display }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Country: {{ user.country }}</p>
        <p>City: {{ user.city }}</p>
        <p>Occupation: {{ user.occupation }}</p>
        <p>Email: {{ user.email }}</p>
    </div>

<script>
    $(document).ready(function() {
        $("#bio-text-container").css("transform", "translateY(0)")
        $("#bio-container").css("transform", "translateX(0)")
    });
</script>
{% endblock %}
