{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <div id="bio-text-container" style="transform: translateY(100%); transition: transform ease-in-out 0.8s;">
        <p>{{ user.bio }}</p>
    </div>
    <div id="bio-container" style="transform: translateX(-100%); transition: transform ease-in-out 0.8s;">
        {% if user.avatar %}
            <img class="avatar" src="{{ user.avatar.url }}" alt="User Avatar">
        {% else %}
            <img class="static-avatar" src="{% static 'images/standart_img.png' %}" alt="Default Avatar">
        {% endif %}
        <p>Статус: {% if user.is_online %}<span class="is-online">Онлайн</span>{% else %}<span class="is-offline">Офлайн</span>{% endif %}</p>
        <p>Пол: {{ user.get_gender_display }}</p>
        <p>Возраст: {{ user.age }}</p>
        <p>Страна: {{ user.country }}</p>
        <p>Город: {{ user.city }}</p>
        <p>Род деятельности: {{ user.occupation }}</p>
        <p>Email: {{ user.email }}</p>
    </div>
{% endblock %}