{% extends 'core/base.html' %}

{% block content %}

<h1>Редактировать профиль</h1>
<form method="post" enctype="multipart/form-data" action="{% url 'edit_profile' %}" class="needs-validation"
      novalidate>

    {% csrf_token %}
    <div class="form-container">
    <div class="edit-form-username-email">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>

    <div class="form-bio-avatar">
        {{ form.bio.label_tag }}
        {{ form.bio }}
        {{ form.avatar.label_tag }}
        {{ form.avatar }}
    </div>

    <div class="edit-form-country-city-occupation-gender-age">
        {{ form.country.label_tag }}
        {{ form.country }}
        {{ form.city.label_tag }}
        {{ form.city }}
        {{ form.occupation.label_tag }}
        {{ form.occupation }}
        {{ form.gender.label_tag }}
        {{ form.gender }}
        {{ form.age.label_tag }}
        {{ form.age }}
    </div>
    </div>

    <button class="but-edit-profile" type="submit">Сохранить изменения</button>
</form>

{% endblock %}