{% extends 'core/base.html' %}

{% load static %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style-user_profile.css' %}">
{% endblock %}

<div class="user-info">
    <h1>
    <span id="welcomeText" class="span-welcome">
        <span class="rotate-char" id="letter1">W</span>
        <span class="rotate-char" id="letter2">e</span>
        <span class="rotate-char" id="letter3">l</span>
        <span class="rotate-char" id="letter4">c</span>
        <span class="rotate-char" id="letter5">o</span>
        <span class="rotate-char" id="letter6">m</span>
        <span class="rotate-char" id="letter7">e</span>
    </span>
        {{ user.username }}
        {% if user.avatar %}
            <img class="avatar" src="{{ user.avatar.url }}" alt="User Avatar">
        {% else %}
            <img class="static-avatar" src="{% static 'images/standart_img.png' %}" alt="Default Avatar">
        {% endif %}
    </h1>
</div>
<img id="myGif" class="gif" src="{% static 'images/girl.gif' %}">
<div id="profileMenu" class="profile-menu">
    <h4 class="menu-user"> Menu</h4>
    <ul class="profile-service">
        <li><a href="{% url 'bio_view' %}">Профиль</a></li>
        <li><a href="{% url 'edit_profile' %}">Редактировать профиль</a></li>
        <li><a href="{% url 'change_password' %}">Изменить Пароль</a></li>
        <li><a href="{% url 'user_articles' user_id=user.id %}">Статьи</a></li>
        <li><a href="{% url 'user_bookmarks' %}">Ваши Закладки</a></li>
        <li><a href="{% url 'add_article' %}">Создать статью </a></li>
    </ul>
</div>
 <script>
      let profileMenu = document.getElementById('profileMenu');
      let profileService = document.querySelector('.profile-service');
      let myGif = document.getElementById('myGif');

    profileMenu.addEventListener('mouseover', function () {
        profileService.style.display = 'block';
        myGif.classList.add('visible');
    });

    profileMenu.addEventListener('mouseout', function () {
        profileService.style.display = 'none';
        myGif.classList.remove('visible');
    });
 </script>

{% endblock %}