{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <h1><span class="span-welcome">Welcome</span>{{user.username}}</h1>
    <img id="myGif" class="gif" src="{% static 'images/girl.gif' %}">
    <div id="profileMenu" class="profile-menu">
      <ul class="profile-service">
        <li><a href="#">Service1</a></li>
        <li><a href="#">Service2</a></li>
        <li><a href="#">Service3</a></li>
        <li><a href="#">Service4</a></li>
        <li><a href="#">Service5</a></li>
        <li><a href="#">Service6</a></li>
        <li><a href="#">Service7</a></li>
      </ul>
    </div>
 <script>
      let profileMenu = document.getElementById('profileMenu');
      let profileService = document.querySelector('.profile-service');
      let myGif = document.getElementById('myGif');

    profileMenu.addEventListener('mouseover', function () {
        profileService.style.display = 'block';
        myGif.classList.add('visible');
    });

    profileMenu.addEventListener('mouseout', function () {
        profileService.style.display = 'none';
        myGif.classList.remove('visible');
    });
 </script>
{% endblock %}