{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style-user_profile.css' %}">
<div class="user-info">
        <h1><span class="span-welcome">Welcome</span>{{ user.username }}
            {% if user.avatar %}
            <img class="avatar" src="{{ user.avatar.url }}" alt="User Avatar">
            {% else %}
            <img class="static-avatar" src="{% static 'images/standart_img.png' %}" alt="Default Avatar">
            {% endif %}
        </h1>
</div>
    <img id="myGif" class="gif" src="{% static 'images/girl.gif' %}">
    <div id="profileMenu" class="profile-menu">
      <ul class="profile-service">
        <li><a href="{% url 'edit_profile' %}">Редактировать профиль</a></li>
        <li><a href="{% url 'change_email' %}">Поменять Email</a></li>
        <li><a href="{% url 'change_password' %}">Изменить Пароль</a></li>
        <li><a href="{% url 'user_bookmarks' %}">Закладки</a></li>
        <li><a href="{% url 'add_article' %}">Создать статью </a></li>
        <li><a href="{% url 'user_articles' user_id=user.id %}">Список статей</a></li>
      </ul>
    </div>
 <script>
      let profileMenu = document.getElementById('profileMenu');
      let profileService = document.querySelector('.profile-service');
      let myGif = document.getElementById('myGif');

    profileMenu.addEventListener('mouseover', function () {
        profileService.style.display = 'block';
        myGif.classList.add('visible');
    });

    profileMenu.addEventListener('mouseout', function () {
        profileService.style.display = 'none';
        myGif.classList.remove('visible');
    });
 </script>
{% endblock %}