<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_window.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="{% static 'js/tiny.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/tinymce@7.0.1/tinymce.min.js"></script>
    <title>Universal Digest Family</title>
</head>
<body class="loaded">
<div class="menu">
    <div class="wrap">
        <div class="logo" id="logo_animated">
            <a class="logo-menu" href="{% url 'base_with_articles' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
        </div>
        <div class="shape"></div>
        <ul>
            <li>
                <label class="search-icon">
                    <img src="{% static 'images/search.png' %}" alt="Search">
                </label>
                <input class="search-input" type="text" placeholder="Поиск" id="search-input">
                <ul id="search-results"></ul>
            </li>
            <li>
                <a class="add-button" href="{% url 'add_article' %}">
                    <button class="animated_bt" type="button">+ Создать</button>
                </a>
            </li>
            {% if user.is_authenticated %}
            {% if not is_public_profile %}
            <li>
                {% if user.gender == 'M' %}
                <img class="menu-avatar" src="{% static 'images/male_avatar.png' %}" alt="Male Avatar">
                {% elif user.gender == 'F' %}
                <img class="menu-avatar" src="{% static 'images/female_avatar.png' %}" alt="Female Avatar">
                {% else %}
                <img class="menu-avatar" src="{% static 'images/default_avatar.png' %}" alt="Default Avatar">
                {% endif %}
                <a  style="font-family:Spectral SC,serif;" href="{% url 'user_profile' %}">{{ user.username }}</a> | <a  href="{% url 'logout' %}">Выйти</a>
            </li>
            {% endif %}
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                    <img class="welcom-img" src="{% static 'images/welcome.png' %}" alt="Войти">
                     Войти
                </a> |  <a href="{% url 'register' %}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="wrap">
        {% block content %}
       <div class="article-list">
            {% if articles %}
                <ul>
                    {% for article in articles %}
                        <li>
                            <div class="article-item">
                                <a class="open_rewiew" href="{% url 'review_article' pk=article.id %}">
                                <h3>{{ article.title }}</h3>
                                </a>
                                 {% if article.photo %}
                                <img class="image-article" src="{{ article.photo.url }}" alt="{{ article.title }}">
                                 {% endif %}
                                <p class="content-article"> {{ article.content|safe|truncatewords:20|linebreaks }}</p>
                                <div class="position-author">
                                <p class="author-article"> Автор: <span class="author-span"><a class="target-public" href="{% url 'public_profile' username=article.author.username %}">{{ article.author.username }}</a></span> </p>
                                </div>
                                <div class="position-likes-dislikes-bookmarkio">
                                 <p class="content-likes-dislikes-bookmarkio-article">
                                        <span id="likes-count-{{ article.id }}" style="font-family: Arial, serif; font-size: 1.1em; font-weight:500; padding: 2px;">{{ article.likes.count }}</span>
                                        <span class="like-button" data-article-id="{{ article.id }}" data-is-liked="{{ article.is_liked }}" data-is-disliked="{{ article.is_disliked }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                                <path fill="#676666" fill-opacity=".84" d="M14.476 6.06a2.25 2.25 0 0 0-1.725-.81h-3.42l.42-1.072A3.097 3.097 0 0 0 6.833 0a.75.75 0 0 0-.682.443L4.013 5.25H2.25A2.25 2.25 0 0 0 0 7.5v5.25A2.25 2.25 0 0 0 2.25 15h9.55a2.25 2.25 0 0 0 2.212-1.845l.953-5.25a2.25 2.25 0 0 0-.488-1.845ZM3.75 13.5h-1.5a.75.75 0 0 1-.75-.75V7.5a.75.75 0 0 1 .75-.75h1.5v6.75Zm9.751-5.865-.952 5.25a.75.75 0 0 1-.75.615H5.25V6.158l2.04-4.59a1.583 1.583 0 0 1 1.036 2.085l-.398 1.072A1.5 1.5 0 0 0 9.331 6.75h3.42a.75.75 0 0 1 .578.27.752.752 0 0 1 .172.615Z"/>
                                            </svg>
                                        </span>
                                        <span id="dislikes-count-{{ article.id }}" style="font-family: Arial, serif; font-size: 1.1em; font-weight:500; padding: 2px;" >{{ article.dislikes.count }}</span>
                                          <span class="dislike-button" data-article-id="{{ article.id }}" data-is-liked="{{ article.is_liked }}" data-is-disliked="{{ article.is_disliked }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                                <path fill="#676666" fill-opacity=".84" d="M12.75 0H3.202A2.25 2.25 0 0 0 .989 1.845l-.952 5.25A2.25 2.25 0 0 0 2.249 9.75h3.42l-.42 1.072A3.097 3.097 0 0 0 8.168 15a.75.75 0 0 0 .683-.443l2.137-4.807h1.763A2.25 2.25 0 0 0 15 7.5V2.25A2.25 2.25 0 0 0 12.75 0Zm-3 8.842-2.04 4.59a1.598 1.598 0 0 1-1.035-2.085l.397-1.072A1.5 1.5 0 0 0 5.67 8.25H2.25a.75.75 0 0 1-.578-.27.75.75 0 0 1-.173-.615l.953-5.25a.75.75 0 0 1 .75-.615H9.75v7.342ZM13.5 7.5a.75.75 0 0 1-.75.75h-1.5V1.5h1.5a.75.75 0 0 1 .75.75V7.5Z"/>
                                            </svg>
                                        </span>
                                 </p>

                                {% if user.is_authenticated %}
                                    {% if not user_has_bookmark %}
                                        <a class="content-likes-dislikes-bookmarkio-article" href="{% url 'add_bookmark' article.id %}">
                                        <svg class="bookmarkio" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                          <path fill="#000" fill-opacity=".47" d="M10 4.545v7.943l-3.508-1.109-.659-.208-.658.208-3.508 1.109V4.545H10ZM13.333.871H4.992c-.917 0-1.659.551-1.659 1.225h8.334c.916 0 1.666.55 1.666 1.224v7.961l1.667.612V2.096C15 1.422 14.25.87 13.333.87ZM10 3.321H1.667C.75 3.32 0 3.87 0 4.544v9.798l5.833-1.837 5.834 1.837V4.545c0-.673-.75-1.225-1.667-1.225Z"/>
                                        </svg>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endif %}
                                <p class="date-created-article"> {{article.created_at }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Статей нет</p>
            {% endif %}
        </div>
        <div class="categories-article">
        <ul class="category-list">
            {% for category in categories %}
                <li>
                    <img src="{{ category.icon.url }}" alt="{{ category.name }} icon">
                    <a href="{% url 'base_with_articles' %}?category={{ category.id }}" {% if cat_selected == category.id %}class="selected"{% endif %}>{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
        <a class="about_project" href="{% url 'about_project' %}">О проекте</a>
        <div class="pagination">
            {% if articles.has_previous %}
                <a href="?page={{ articles.previous_page_number }}">&laquo;</a>
            {% endif %}

            {% for i in articles.paginator.page_range %}
                {% if articles.number == i %}
                    <span class="page current">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}" class="page">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">&raquo;</a>
            {% endif %}
       </div>
    <div class="notification" id="notification">
        <img src="{% static 'images/messages_icon.png' %}" alt="Иконка сообщения">
        <p id="message"></p>
    </div>
       </div>
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <script src="{% static 'js/tiny.js' %}"></script>
    <script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
    <script src="{% static 'js/transformation.js' %}"></script>
    <script src="{% static 'js/base_app.js' %}"></script>
    <script src="{% static 'js/likes_dislikes_app.js' %}"></script>
    <script src="{% static 'js/search_app.js' %}"></script>
    <script src="{% static 'js/scrolling.js' %}"></script>
    <script src="{% static 'js/animated-button.js' %}"></script>
    <script src="{% static 'js/animated-logo.js' %}"></script>
    <script src="{% static 'js/open-categories.js' %}"></script>
    <script src="{% static 'js/animation-line.js' %}"></script>
    <script src="{% static 'js/text-animated.js' %}"></script>
    <script src="{% static 'js/edit_profile_animation.js' %}"></script>
    <script src="{% static 'js/statistic-likes-dislikes.js' %}"></script>
    <script src="{% static 'js/message_position_animation.js' %}"></script>
    <script src="{% static 'js/message-containers-animation.js' %}"></script>
    <script src="{% static 'js/about-project-animate.js' %}"></script>
    <script src="{% static 'js/count-message.js' %}"></script>
    <script src="{% static 'js/toastify-notification.js' %}"></script>
    <script src="{% static 'js/public-compose.js' %}"></script>
    <script src="{% static 'js/message-open-window.js' %}"></script>
    <script src="{% static 'js/emoji_picker.js' %}"></script>
</body>
</html>