{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<h1>"Universal Digest Family" (UDF)</h1>
<div class="about-project">
    <div class="project-img">
        <img src="{% static 'images/projectImg.jpeg' %}" alt="project images">
    </div>
</div>
<p class="p-project">Проект "Universal Digest Family" (UDF), разработанный студентом Top Academy Обливанцевым Георгием Игоревичем, представляет собой уникальный и многофункциональный блог, созданный с использованием фреймворка Django. Обучаясь в рамках программы по веб-разработке в Top Academy, я освоил языки программирования Python и JavaScript, необходимые для эффективной работы как на серверной, так и на клиентской стороне.
<br><br>На серверной стороне проекта, под руководством  преподавателя Елены Козовякиной, я изучал фреймворки Django и Flask, что позволило мне реализовать функционал блога. С использованием Django, UDF предоставляет пользователям возможность регистрации, написания и публикации статей на различные темы. Пользователи могут выражать свое отношение к контенту с помощью лайков и дизлайков, оставлять комментарии и обмениваться личными сообщениями, создавая тем самым интерактивное и дружелюбное пространство для общения.<br><br>На клиентской стороне проекта, я изучал JavaScript в сочетании с HTML и CSS под руководством  Костюка Дмитрия. Мне удалось глубже понять работу клиентской стороны веб-приложений и научиться создавать динамичные страницы благодаря изучению JavaScript совместно с HTML и CSS.<br><br>Кроме того, в проекте используются анимации GSAP, которые я изучал на различных YouTube каналах. Эти анимации добавляют дополнительную интерактивность и привлекательность к проекту.
</p>
{% endblock %}
