{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="review-container">
  <h3 class="review-title">{{ article.title }}</h3>
      {% if article.photo %}
      <img class="image-article" src="{{ article.photo.url }}" alt="{{ article.title }}">
      {% endif %}
  <p>{{ article.content|safe }}</p>
  <p class="review-author"> Автор: {{ article.author.username }}</p>
   <p class="content-likes-dislikes-bookmarkio-article">
     <span id="likes-count-{{ article.id }}" style="font-family: Arial, serif; font-size: 1.1em; font-weight:500; padding: 2px;">{{ article.likes.count }}</span>
     <span class="like-button" data-article-id="{{ article.id }}" data-is-liked="{{ article.is_liked }}" data-is-disliked="{{ article.is_disliked }}">
       <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
         <path fill="#676666" fill-opacity=".84" d="M14.476 6.06a2.25 2.25 0 0 0-1.725-.81h-3.42l.42-1.072A3.097 3.097 0 0 0 6.833 0a.75.75 0 0 0-.682.443L4.013 5.25H2.25A2.25 2.25 0 0 0 0 7.5v5.25A2.25 2.25 0 0 0 2.25 15h9.55a2.25 2.25 0 0 0 2.212-1.845l.953-5.25a2.25 2.25 0 0 0-.488-1.845ZM3.75 13.5h-1.5a.75.75 0 0 1-.75-.75V7.5a.75.75 0 0 1 .75-.75h1.5v6.75Zm9.751-5.865-.952 5.25a.75.75 0 0 1-.75.615H5.25V6.158l2.04-4.59a1.583 1.583 0 0 1 1.036 2.085l-.398 1.072A1.5 1.5 0 0 0 9.331 6.75h3.42a.75.75 0 0 1 .578.27.752.752 0 0 1 .172.615Z"/>
       </svg>
     </span>
     <span id="dislikes-count-{{ article.id }}" style="font-family: Arial, serif; font-size: 1.1em; font-weight:500; padding: 2px;" >{{ article.dislikes.count }}</span>
     <span class="dislike-button" data-article-id="{{ article.id }}" data-is-liked="{{ article.is_liked }}" data-is-disliked="{{ article.is_disliked }}">
       <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
         <path fill="#676666" fill-opacity=".84" d="M12.75 0H3.202A2.25 2.25 0 0 0 .989 1.845l-.952 5.25A2.25 2.25 0 0 0 2.249 9.75h3.42l-.42 1.072A3.097 3.097 0 0 0 8.168 15a.75.75 0 0 0 .683-.443l2.137-4.807h1.763A2.25 2.25 0 0 0 15 7.5V2.25A2.25 2.25 0 0 0 12.75 0Zm-3 8.842-2.04 4.59a1.598 1.598 0 0 1-1.035-2.085l.397-1.072A1.5 1.5 0 0 0 5.67 8.25H2.25a.75.75 0 0 1-.578-.27.75.75 0 0 1-.173-.615l.953-5.25a.75.75 0 0 1 .75-.615H9.75v7.342ZM13.5 7.5a.75.75 0 0 1-.75.75h-1.5V1.5h1.5a.75.75 0 0 1 .75.75V7.5Z"/>
       </svg>
     </span>
   </p>
</div>
<div class="content-commentary">
  <div class="comment-area">
    <h3>Комментарии</h3>
    {% for comment in comments %}
    <p class="comment-p"><span class="comment-special"> &raquo;</span> {{ comment.author.username }}:<span class="comment-text">{{ comment.content|striptags }}</span></p>
    {% endfor %}
  </div>
  <div class="add-comment-area">
  <form method="post" action="{% url 'add_comment' article.id %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
  <button class="review-bt" type="submit">Добавить комментарий</button>
  </form>
  </div>
  </div>
<div class="notification" id="notification">
        <img src="{% static 'images/messages_icon.png' %}" alt="Иконка сообщения">
        <p id="message"></p>
</div>

{% endblock %}