{% extends 'core/base.html' %}

{% block content %}

  <h1>Статьи пользователя {{ user.username }}</h1>

  {% for article in articles %}
        <div class="articles-user">
      <h3>{{ article.title }}</h3>
      <p>{{ article.content|safe }}</p>


      {% if user.is_authenticated and user == article.author %}
        <form method="post" action="{% url 'delete_article' pk=article.pk %}">
          {% csrf_token %}
          <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить статью</button>
        </form>
      {% endif %}

</div>
  {% endfor %}

{% endblock %}
