{% extends 'core/base.html' %}

{% block content %}
  <h1>Сообщения</h1>
  <form method="post">
    {% csrf_token %}
    <div class="inbox-message">
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>
              <div class="message-content-inbox">
                <strong class="user-strong"> Пользователь:</strong> {{ message.sender.username }}<br>
                <div class="message-inbox-area">
                  <strong class="message-strong">Сообщение:</strong><br> <span class="strong-message"> {{ message.content| truncatewords:7 }}</span><br>
                </div>
                <br>
                <strong class="data-stong"> Дата:</strong><span class="strong-data"> {{ message.timestamp }}</span>
              </div>
              <button class="view-message-btn" data-content="{{ message.content }}">Открыть</button>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Сообщений нет</p>
      {% endif %}
    </div>
    <button class="del-messages-but" type="submit" name="delete_all">Очистить сообщения</button>
  </form>
  <a class="back-profile" href="{% url 'bio_view' %}">Вернуться в профиль</a>

{% include 'core/modal.html' %}
{% endblock %}