{% extends 'core/base.html' %}

{% block content %}
  <h1>Сообщения</h1>
  <form method="post">
    {% csrf_token %}
    <div class="inbox-message">
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>
              <strong>Пользователь:</strong> {{ message.sender.username }}<br>
              <strong>Сообщение:</strong> {{ message.content }}<br>
              <strong>Дата:</strong> {{ message.timestamp }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Сообщений нет</p>
      {% endif %}
    </div>
    <button class="del-messages-but" type="submit" name="delete_all">Удалить все сообщения</button>
  </form>
  <a class="back-profile" href="{% url 'bio_view' %}">Вернуться в профиль</a>
{% endblock %}