@media (min-width: 1600px) {
    .menu ul li:last-child {
        margin-right: 0;
        position: relative;

        left: 11%;
        top: 25px;
        font-size: 1.1em;
    }

    .menu ul li:first-child {
        margin-right: 0;
        position: relative;
        left: 1%;
        top: 20px;
    }

    .menu ul li:nth-child(2) {
        margin-right: 0;
        position: relative;
        left: 6%;
        top: 23px;
    }

    ul input{
        padding: 16px;
        width: 370px;
        margin-top: -16px;
        text-indent: 16px;
    }

    ul button {
        padding: 8px;
        font-size: 1.2em;
        color: rgba(82, 81, 81, 0.67);
        border-radius: 13px;
    }

    .menu .wrap{
        font-size: 1.5rem;
    }

    .logo-menu img{
        width: 300px;
        transition: transform 0.3s;
    }

    .welcom-img {
        width: 30px;
    }

    .search-input::placeholder {
        font-size: 1em;
        text-indent: 30px;
    }

    .search-icon{
        position: relative;
        left:10%;
        top: 1px;
        padding:7px;
    }

    .shape {
        margin-bottom: -14px;
    }

    .register-menu{
        margin-left: 5%;
        margin-top: 6%;
        font-size: 1.6em;
        border-radius: 30px;
    }

    .register-menu form{
        max-width: 550px;
    }

    .article-list {
        width: 43%;
        margin: 125px auto 11px;
    }

    .article-item{
        margin: 50px 0;
        width: 800px;
        height: 600px;
    }

    .article-item h3{
        font-size: 2em;
    }

    .pagination{
        margin-right: 40px;
    }

    .pagination span.page.current, .pagination a.page  {
        font-size: 1.7em;
    }

    .categories-article {
        top: 20%;
        left: -3%;
        font-size: 1.4em;
    }

    .categories-article li{
        padding: 14px;
    }

    .categories-article a{
        vertical-align: 7px;
    }

    .about_project {
        font-size: 1.7em;
    }
}