@media (min-width: 1600px) {
    .menu ul li:last-child {
        margin-right: 0;
        position: relative;

        left: 11%;
        top: 25px;
        font-size: 1.1em;
    }

    .menu ul li:first-child {
        margin-right: 0;
        position: relative;
        left: 1%;
        top: 20px;
    }

    .menu ul li:nth-child(2) {
        margin-right: 0;
        position: relative;
        left: 6%;
        top: 23px;
    }

    ul input{
        padding: 16px;
        width: 370px;
        margin-top: -16px;
        text-indent: 16px;
    }

    ul button {
        padding: 8px;
        font-size: 1.2em;
        color: rgba(82, 81, 81, 0.67);
        border-radius: 13px;
    }

    .menu .wrap{
        font-size: 1.5rem;
    }

    .logo-menu img{
        width: 300px;
        transition: transform 0.3s;
    }

    .welcom-img {
        width: 30px;
    }

    .search-input::placeholder {
        font-size: 1em;
        text-indent: 30px;
    }

    .search-icon{
        position: relative;
        left:10%;
        top: 1px;
        padding:7px;
    }

    .shape {
        margin-bottom: -14px;
    }

    .register-menu{
        margin-top: 200px;
        font-size: 1.6em;
    }

    .login-menu  {
        margin: 300px auto 0;
        font-size: 1.6em;
        width: 400px;
    }

    .article-list {
        width: 41%;
        margin: 125px auto 11px;
    }

    .article-item{
        margin: 60px 0;
        width: 800px;
        height: 600px;
    }

    .article-item h3{
        font-size: 2em;
    }

    .pagination{
        margin-right: 40px;
    }

    .article-list p{
        font-size: 1.3em;
    }

    .article-list .date-created-article{
        font-size: 1.4em;
    }

    .pagination span.page.current, .pagination a.page  {
        font-size: 2.1em;
    }

    .categories-article {
        top: 20%;
        left: -3%;
        font-size: 1.4em;
    }

    .categories-article li{
        padding: 14px;
    }

    .categories-article a{
        vertical-align: 7px;
    }

    .about_project {
        font-size: 1.7em;
    }

    .icon-h1-category{
        font-size: 2em;
        margin-top: 150px;
    }

    .icon-h1-category img{
        width: 90px;
        height: 90px;
        vertical-align: -25px;
    }

    h1{
        margin-top: 200px;
        font-size: 2.6em;
    }

    .profile-menu {
        width: 370px;
        top: -350px;
        left: -43%;
        font-size: 1.4em;
        white-space: nowrap;
    }

    .gif{
        top: 40vh;
        left: 41%;
        width: 350px;
        height: 470px;
    }

    .message-position{
        top: 25%;
        right: -311px;
        font-size: 1.4em;
    }

    .static-bio{
        top: 44%;
        right: 3%;
        font-size: 1.4em;
        height: 400px;
    }

    #bio-container {
        top: 20%;
        left: 11%;
        font-size: 1.6em;
    }

    #bio-text-container {
       font-size: 1.3em;
    }

    .form-container {
        font-size: 1.6em;
        margin-top: 30px;
    }

    .but-edit-profile {
        font-size: 1.4em;
        margin-top: 30px;
    }

    .change-password-menu{
        width: 680px;
        height: fit-content;
        margin: 200px auto 0;
        font-size: 1.3em;

    }

    .articles-user{
        font-size: 1.3em;
        padding: 80px 100px;
    }

    .bookmarks-users{
        width: 1000px;
        padding: 40px;
        font-size: 1.3em;
    }

    .add-article-container {
        max-width: 1000x;
        margin: 180px auto 0;
        padding: 40px 60px;
        font-size: 1.3em;
    }
}