html {
    height: 500px;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(214, 213, 213, 0.73), rgba(214, 213, 213, 0.58));
    zoom: 0.9;
}

.menu .wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
    padding: 11px;
    background: rgba(239, 204, 139, 0.17);
    border-radius: 5px;
}

.menu .logo-menu,
.menu ul {
    display: inline-block;
    vertical-align: middle;
}

.menu ul {
    flex-grow: 1;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: baseline;
    justify-content: space-evenly;
}


.menu ul li:last-child {
    margin-right: 0;
    position: relative;
    left: 11%;
    top: 16px;
}

.menu ul li:first-child {
    margin-right: 0;
    position: relative;
    left: 1%;
    top: 11px;
}

.menu ul li:nth-child(2) {
    margin-right: 0;
    position: relative;
    left: 3%;
    top: 12px;

}

ul input{
    padding: 14px;
    border-radius: 11px;
    width: 290px;
    background: rgba(163, 201, 184, 0.77);
    color: #646363;
    margin-right: 11px;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid rgba(169, 168, 168, 0.6);
    text-indent: 16px;
    transition: background-color ease-in-out 0.3s;
}

ul input:hover{
    background-color: rgba(255, 255, 255, 0.57);
}

.search-input::placeholder {
    color: #ffffff;
    font-size: 0.9em;
}

ul button {
    padding: 8px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.57);
    font-size: 1.1em;
    font-family: Play, serif;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 2px 12px 2px rgba(112, 110, 110, 0.36);
    color: rgba(82, 81, 81, 0.82);
    border: 2px solid rgba(255, 255, 255, 0.47);
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

ul button:hover {
    background-color: rgba(110, 134, 184, 0.82);
    color: #ffffff;
}

.menu ul li a {
    text-decoration: none;
    color: rgba(82, 81, 81, 0.82);
    font-weight: bold;
    font-size: 1.1em;
    font-family: Play, serif;
    padding: 6px;
    transition: border-bottom  linear 0.3s, color ease-in-out 0.3s;
}

.menu ul li a:hover{
    border-bottom: 2px solid rgba(101, 99, 141, 0.84);
    border-radius: 11px;
    color: rgba(101, 99, 141, 0.84);

}

.search-icon {
    position: relative;
    left:10%;
    top: 3px;
    padding:7px;
}

.welcom-img {
    position: relative;
    top: 7px;
    left: -3%;
    padding: 3px;
}

.logo-menu {
    opacity: 0.9;
    transition: opacity ease-in-out 0.3s;
}

.logo-menu:hover{
    opacity: 3;
}

ul {
    list-style: none;
    font-family: Ubuntu, serif;
    font-weight: 300;
    color: rgba(59, 58, 53, 0.71);
}

.container .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-menu form {
    max-width: 400px;
    margin: 0 auto;
}

.register-menu input[type="text"],
.register-menu input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 11px;
    border: 1px solid rgba(128, 128, 128, 0.65);
}

label, #id_username{
    color: rgba(100, 100, 100, 0.7);
    font-weight: bold;
    font-family: Tektur, serif;
}

.helptext{
    font-family: Fira Sans Condensed, serif;
    color: rgba(86, 85, 85, 0.6);
}

.register-menu button {
    background-color: rgba(255, 255, 255, 0.57);
    color: rgba(82, 81, 81, 0.82);
    padding: 11px 15px;
    margin-left: 105px;
    margin-top: 11px;
    border: 1px solid rgba(229, 229, 229, 0.34);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 11px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.register-menu button:hover{
    background-color: rgba(141, 213, 131, 0.75);
    color: white;
}

.register-menu  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 11px;
    background-color: rgba(239, 204, 139, 0.11);
    padding: 11px 40px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 12px 2px rgba(255, 255, 255, 0.99);
}

h2{
    font-family: Play, serif;
    color: rgba(82, 80, 76, 0.68);
    font-size: 1.6em;
}

.register-menu li {
    box-shadow: none;
    font-size: 15px;
    margin-bottom: 0;
    margin-right: 60px;
    color: rgba(86, 85, 85, 0.79);
}

.login-menu {
    max-width: 400px;
    margin: 0 auto;
}

.login-menu input[type="text"],
.login-menu input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 11px;
    border: 1px solid rgba(128, 128, 128, 0.71);
}

.login-menu button {
    background-color: rgba(255, 255, 255, 0.57);
    color: rgba(82, 81, 81, 0.82);
    padding: 11px 15px;
    margin-left: 141px;
    font-size: 0.9em;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 11px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.login-menu button:hover{
    background-color: rgba(141, 213, 131, 0.75);
    color: white;
}

.login-menu  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    background-color: rgba(239, 204, 139, 0.13);
    padding: 11px 40px;
    border-radius: 20px;
    font-size: 1.1em;
    margin-left: 38%;
    border: 3px solid rgba(66, 66, 66, 0.13);
    box-shadow: 0 2px 12px 2px rgba(255, 255, 255, 0.99);
}

.registration-target {
    display: block;
    margin-top: 20px;
    font-size: 1.1em;
    text-decoration: none;
    font-family: Play, serif;
    padding: 5px;
    color: rgba(93, 89, 82, 0.65);
    margin-left: 124px;
    transition: border-bottom  linear 0.3s, color ease-in-out 0.3s;
}

.registration-target:hover{
    border-bottom: 2px solid rgba(101, 99, 141, 0.84);
    border-radius: 11px;
    color: rgba(101, 99, 141, 0.84);
    width: 111px;
}

.shape {
    width: 20px;
    height: 20px;
    background-color: rgba(113, 150, 194, 0.8);
    margin-top: 20px;
    transition: background-color 2.2s ease;
    animation: colorChange 3s infinite alternate ease-in-out;
}

.gif{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 25vh;
    left: 41%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.visible {
    opacity: 0.6;
    visibility: visible;
}

.profile-menu {
    width: 300px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.62);
    padding-top: 20px;
    box-shadow: 0 2px 12px 2px rgba(239, 204, 139, 0.22);
    position: relative;
    border: 3px solid rgba(166, 164, 164, 0.35);
    cursor: pointer;
    overflow: hidden;
    top: -50vh;
    left: -42%;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.profile-menu:hover {
    top: -45vh;
}

.profile-service {
    display: none;
}

.profile-service a {
    padding: 15px;
    text-decoration: none;
    color: #343a40;
    display: block;
}

.profile-service a:hover {
    background-color: #a4c5b0;
    border-radius: 3px;
}

h1 {
    font-family: Tektur, serif;
    font-size: 1.8em;
    font-weight: 500;
    color: rgb(104, 138, 178);
    background-color: rgba(255, 255, 255, 0.62);
    border: 3px solid rgba(166, 164, 164, 0.35);
    box-shadow: 0 2px 12px 2px rgba(239, 204, 139, 0.22);
}

.span-welcome{
    display: block;
    padding: 11px;
    font-size: 1.4em;
    font-family: Play, serif;
    font-weight: bold;
    color: rgba(110, 108, 101, 0.78);
    letter-spacing: 3px;
}

h1,.span-welcome {
    box-sizing: border-box;
    text-align: center;
    padding: 20px 100px;
    border-radius: 11px;
    letter-spacing: 1px;
}

@media (min-width: 1600px) {
    .menu ul li:last-child {
        margin-right: 0;
        position: relative;
        left: 12%;
        top: 25px;
        font-size: 1.1em;
    }

    .menu ul li:first-child {
        margin-right: 0;
        position: relative;
        left: 1%;
        top: 23px;
    }

    .menu ul li:nth-child(2) {
        margin-right: 0;
        position: relative;
        left: 4%;
        top: 23px;
    }

    ul input{
        padding: 16px;
        width: 370px;
        margin-top: -16px;
        text-indent: 16px;
    }

    ul button {
        padding: 8px;
        font-size: 1.2em;
        color: rgba(82, 81, 81, 0.67);
        border-radius: 13px;
    }

    .menu .wrap{
        font-size: 1.5rem;
    }

    .logo-menu img{
        width: 260px;
    }

    .welcom-img {
        width: 30px;
    }

    .login-menu{
        font-size: 1.6em;
        max-width: 500px;
        margin-left: 39%;
        border-radius: 30px;
    }

    .login-menu input[type="text"],
    .login-menu input[type="password"] {
        font-size: 1.1em;
    }

    .login-menu button{
        font-size: 1.1em;
        color: rgba(82, 81, 81, 0.67);
        margin-left: 189px;
    }

    .registration-target{
        font-size: 1.1em;
        margin-left: 160px;
    }

    .search-input::placeholder {
        font-size: 0.9em;
        text-indent: 30px;
    }

    .register-menu{
        margin-left: 5%;
        margin-top: 6%;
        font-size: 1.6em;
        border-radius: 30px;
    }

    .register-menu form{
        max-width: 550px;
    }
}